In [1]:
import pandas as pd

In [2]:
electiondata = pd.read_csv("../data/electiondatabygenderbyage.csv")

In [3]:
electiondata

   Gender    Age  Hillary  Trump  Other
0    Male  18-34       51     40      9
1    Male  35-49       47     45      8
2    Male  50-64       37     57      6
3    Male    65+       39     55      6
4  Female  18-34       69     25      6
5  Female  35-49       55     34     11
6  Female  50-64       60     35      5
7  Female    65+       52     43      5